<h1>Lecture 17</h1>
<div *ngFor="let course of courses; let i=index">
    <div>
        <h3>Course {{i}}</h3>
        <button (click)="course.visibility = !course.visibility">{{course.visibility ? "Hide Content" : "Show Content" }}</button>
    </div>
    <div *ngIf="course.visibility;">
        <ul *ngFor="let lesson of course.lessons">
            <li>{{lesson}}</li>
        </ul>
    </div>
</div>
