<h1>Lecture 18</h1>

<form [formGroup]="loginForm" (ngSubmit) ="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="green">
     <p [ngStyle]="{'color': 'green'}">Login Successfully</p>
  </div>
  <div *ngIf="red">
     <p [ngStyle]="{'color': 'red'}">Login failed</p>
  </div>